@charset "utf-8";
/* CSS Stylesheet */

#banner
{
	width:950px;
	height:150px;
	margin:0 auto;
	background:url(../images/banner2.jpg) no-repeat;
	border-bottom:1px solid #2588c9;
}


#MainNav {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
}


#MainNav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	width: 950px;
	background: #00a6dd url(../images/mainNavBg2.gif) repeat-x;
	border-bottom:1px solid #2588c9;
}


#MainNav ul li {
	float: left;
}


#MainNav ul a {
	display: block;
	float: left;
	padding: 0 21px;
	line-height: 40px;
	background: url(../images/mainNavBorder2.gif) repeat-y left top;
	text-decoration: none;
	color: #ffffff;
}

#MainNav ul .home a {
   background: none;
   }

#MainNav ul a:hover {
	color: #ffffff;
	background: url(../images/hover.gif)

}


#MainNav ul .first a {
	background: url(../images/hover.gif);

}


body
{
	margin:0;
	font:12px Tahoma;
	color:black;
	background:url(../images/bg.jpg) repeat-x;
}

#middle
{
	width:950px;
	margin:0 auto;
	background:url(../images/bg_mdl.png) repeat-y;
	border:1px solid #2588c9;
	border-width:0px 1px;
	padding:0px 0px;
	border-bottom:1px solid #2588c9;
	margin-bottom:35px;
}



.text
{
	margin-left: 40px;
	margin-right: 40px;
	margin-bottom:35px;
	margin-top:35px;
	line-height:18px;
	font-size:14px;
}

.text h1
{
	font-size:32px;
	color:#2588c9;
}

.text h2
{
	color:#2588c9;
	text-align:center;
}

.text h3
{
	color:#2588c9;
	font-size:24px;
}

.text li
{
	color:#2588c9;
}

#map
{
	width:950px;
	height:500px;
}

#map_01
{
	width:473px;
	height:198px;
	float:left;
}

#map_02
{
	width:477px;
	height:198px;
	float:right;
}

#map_03
{
	width:473px;
	height:302;
	float:left;
}

#map_04
{
	width:477px;
	height:302px;
	float:right;
}

#footer
{
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 9px;
    text-indent: 10px;
    text-align: center;
    margin:0 auto;
	float: left;
	width: 950px;
	height: 13px;
}
