@charset "utf-8";
/* CSS Stylesheet */

body
{
	margin:0;
	font:12px Tahoma;
	color:black;
	background:url(../images/bg.jpg) repeat-x;
}

#middle
{
	width:950px;
	margin:0 auto;
	background:url(../images/bg_mdl.png) repeat-y;
	border:1px solid #2588c9;
	border-width:0px 1px;
	padding:0px 0px;
	border-bottom:1px solid #2588c9;
	margin-bottom:35px;
}

#banner
{
	width:950px;
	height:150px;
	margin:0 auto;
	background:url(../images/banner2.jpg) no-repeat;
	border-bottom:1px solid #2588c9;
}

.text
{
	margin-left: 40px;
	margin-right: 40px;
	margin-bottom:35px;
	margin-top:35px;
	line-height:18px;
	font-size:14px;
}

.text h1
{
	font-size:32px;
	color:#2588c9;
}

.text h2
{
	color:#2588c9;
	text-align:center;
}

.text h3
{
	color:#2588c9;
	font-size:24px;
}

.text li
{
	color:#2588c9;
}

#map
{
	width:950px;
	height:500px;
}

#map_01
{
	width:473px;
	height:198px;
	float:left;
}

#map_02
{
	width:477px;
	height:198px;
	float:right;
}

#map_03
{
	width:473px;
	height:302;
	float:left;
}

#map_04
{
	width:477px;
	height:302px;
	float:right;
}

#navbar
{
	width:950px;
	height:40px;
	border-bottom:1px solid #2588c9;
}

#button_1
{
	width:190px;
	height:40px;
	background-color:#b9e3fc;
	float:left;
}

#button_2
{
	width:190px;
	height:40px;
	background-color:#b9e3fc;
	float:left;
}

#button_3
{
	width:190px;
	height:40px;
	background-color:#b9e3fc;
	float:left;
}

#button_4
{
	width:190px;
	height:40px;
	background-color:#b9e3fc;
	float:left;
}

#button_5
{
	width:190px;
	height:40px;
	background-color:#b9e3fc;
	float:left;
}